.signupPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signupBox {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signupBox h2 {
    font-size: 30px;
    margin-bottom: 8px;
}

.alreadyHaveAnAccountDiv {
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}

.input-group {
    margin-bottom: 15px;
}