.heading {
    margin-top: 10px;
}

.booksMainContainer {
    margin: 0px 30px;
}

.subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px 20px 0px
}